<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <packageSources>
      <clear />
      <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
      <add key="GitHub" value="https://nuget.pkg.github.com/SierraSoftworks/index.json" />
   </packageSources>

   <packageSourceCredentials>
      <GitHub>
         <add key="Username" value="SierraSoftworks"/>
         <add key="ClearTextPassword" value="%GITHUB_TOKEN%"/>
      </GitHub>
   </packageSourceCredentials>
</configuration>